<h1>Tu perfil (sin datos sensibles)</h1>
<p>ID: {{_id}}</p>
<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo electronico: {{email}}</p>
<p>Rol: {{rol}}</p>
<p>Última conexión: {{last_connection}}</p>
<button class="btn btn-primary" onclick="resetPassword('{{token}}')">reestablecer contraseña</button>
<a class="btn btn-primary" href="/carts/{{cart._id}}">Ver mi carrito</a>
<form class="logoutform">
  <button class="btn btn-danger" src="btn btn-danger" type="submit">Logout!</button>
</form>
<script src="/static/js/profile.client.js"></script>